.canvasWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  width: 100%;
  transition: opacity 1s;
}

.loading {
  opacity: 0;
}

.loaded {
  opacity: 1;
}
