.section {
  display: grid;
  gap: var(--space-4);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  & * {
    margin: 0;
  }

  & h3 {
    &::after {
      content: "";
      height: 1px;
      width: 80px;
      background: var(--text);
      display: block;
      margin-top: var(--space-4);
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);

  & h4 {
    margin: var(--space-1) 0 var(--space-2);
  }

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-6);
  }
}

.repoWrapper {
  display: flex;
  flex-direction: column;
}

.topics {
  font-size: var(--font-size-2xs);
}

.repoDescription {
  margin: 0 0 var(--space-2);

  @media (min-width: 768px) {
    margin: 0 0 var(--space-4);
  }
}

.repoLinks {
  margin: auto 0 0;
  font-size: var(--font-size-xs);

  & a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--font-size-xs);

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
