@layer tokens {
  :root {
    --colors-gray-0: #000000;
    --colors-gray-1: #1a1a1a;
    --colors-gray-2: #2c2c2c;
    --colors-gray-3: #404040;
    --colors-gray-4: #555555;
    --colors-gray-5: #6b6b6b;
    --colors-gray-6: #828282;
    --colors-gray-7: #999999;
    --colors-gray-8: #b2b2b2;
    --colors-gray-9: #cbcbcb;
    --colors-gray-10: #e5e5e5;
    --colors-gray-11: #ffffff;
    --colors-gray-blue-0: #0d0e11;
    --colors-gray-blue-1: #1f2027;
    --colors-gray-blue-2: #2f313e;
    --colors-gray-blue-3: #404456;
    --colors-gray-blue-4: #52576f;
    --colors-gray-blue-5: #656b86;
    --colors-gray-blue-6: #7a809c;
    --colors-gray-blue-7: #9196b0;
    --colors-gray-blue-8: #a9adc2;
    --colors-gray-blue-9: #c2c4d4;
    --colors-gray-blue-10: #dbdce5;
    --colors-gray-blue-11: #f4f5f7;
    --colors-blue-0: #0e101b;
    --colors-blue-1: #142040;
    --colors-blue-2: #0f306b;
    --colors-blue-3: #004196;
    --colors-blue-4: #0053bf;
    --colors-blue-5: #0066e1;
    --colors-blue-6: #387bf9;
    --colors-blue-7: #6590ff;
    --colors-blue-8: #8da7ff;
    --colors-blue-9: #b1c0ff;
    --colors-blue-10: #d3d9ff;
    --colors-blue-11: #f1f2ff;
    --colors-indigo-0: #140d1a;
    --colors-indigo-1: #271a3d;
    --colors-indigo-2: #3b2465;
    --colors-indigo-3: #502f8d;
    --colors-indigo-4: #653cb4;
    --colors-indigo-5: #7c4cd4;
    --colors-indigo-6: #9462eb;
    --colors-indigo-7: #ab7cf8;
    --colors-indigo-8: #c198fd;
    --colors-indigo-9: #d5b7fe;
    --colors-indigo-10: #e7d6fd;
    --colors-indigo-11: #f9f4fe;
    --colors-red-0: #160807;
    --colors-red-1: #371214;
    --colors-red-2: #5d131c;
    --colors-red-3: #830d25;
    --colors-red-4: #a90830;
    --colors-red-5: #cb1b3f;
    --colors-red-6: #e53c52;
    --colors-red-7: #f7616b;
    --colors-red-8: #ff8789;
    --colors-red-9: #ffacab;
    --colors-red-10: #ffd1cf;
    --colors-red-11: #fff3f3;
    --colors-green-0: #07100b;
    --colors-green-1: #0d2519;
    --colors-green-2: #073a25;
    --colors-green-3: #005031;
    --colors-green-4: #00673f;
    --colors-green-5: #007e4f;
    --colors-green-6: #1f9464;
    --colors-green-7: #4aa97c;
    --colors-green-8: #74bd97;
    --colors-green-9: #9dd0b4;
    --colors-green-10: #c6e3d2;
    --colors-green-11: #edf6f1;
    --colors-teal-0: #060e0f;
    --colors-teal-1: #0e2325;
    --colors-teal-2: #08383b;
    --colors-teal-3: #004d53;
    --colors-teal-4: #00646b;
    --colors-teal-5: #007b82;
    --colors-teal-6: #249198;
    --colors-teal-7: #50a6ad;
    --colors-teal-8: #7abbc0;
    --colors-teal-9: #a3cfd2;
    --colors-teal-10: #cbe3e5;
    --colors-teal-11: #f2f8f8;

    --space-0: 0;
    --space-0-half: 0.125rem;
    --space-1: 0.25rem;
    --space-1half: 0.375rem;
    --space-2: 0.5rem;
    --space-2half: 0.625rem;
    --space-3: 0.75rem;
    --space-3half: 0.875rem;
    --space-4: 1rem;
    --space-5: 1.25rem;
    --space-6: 1.5rem;
    --space-7: 1.75rem;
    --space-8: 2rem;
    --space-9: 2.25rem;
    --space-10: 2.5rem;
    --space-12: 3rem;
    --space-14: 3.5rem;
    --space-16: 4rem;

    --font-size-2xs: 0.625rem;
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 1.875rem;
    --font-size-4xl: 2.25rem;
    --font-size-5xl: 3rem;
    --font-size-6xl: 4rem;

    --radii-none: 0;
    --radii-xs: 2px;
    --radii-sm: 4px;
    --radii-md: 8px;
    --radii-lg: 16px;
    --radii-xl: 9999px;
    --radii-2xl: 100%;

    /* semantic tokens */
    --background: var(--colors-gray-10);
    --text: var(--colors-gray-1);
  }

  :root[data-theme="dark"] {
    /* semantic tokens */
    --background: var(--colors-gray-1);
    --text: var(--colors-gray-10);
  }
}
